config:
  {{ project_name }}:environment: prod
  {{ project_name }}:git_branch: main
  {{ project_name }}:secret_id: {{ secret_id }}
  {{ project_name }}:instance_type: {{ instance_type }}
  {{ project_name }}:volume_size: "{{ volume_size }}"
  {{ project_name }}:aws_region: {{ aws_region }}
