config:
  {{ project_name }}:environment: dev
  {{ project_name }}:git_branch: develop
  {{ project_name }}:secret_id: {{ secret_id }}_dev
  {{ project_name }}:instance_type: t3.medium
  {{ project_name }}:volume_size: "30"
  {{ project_name }}:aws_region: {{ aws_region }}
